# Object files
*.o
*.ko
*.elf
*.hex

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.dylib

# Executables
*.exe
*.out
*.app

#Eagle working files
*.*#*

#other random things
*.*~
*.*.orig
